# Previsão de Rotatividade de Funcionários

Dataset: [Human Resources Data Set](https://www.kaggle.com/datasets/rhuebner/human-resources-data-set?select=HRDataset_v14.csv) <br>
Dicionário dos Dados: [RPubs.com](https://rpubs.com/rhuebner/hrd_cb_v14)

In [1]:
# Importandoimport
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import sys

In [2]:
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

pd.set_option('display.max_columns', 500)

/kaggle/input/human-resources-data-set/HRDataset_v14.csv

### Importando os dados e visualizando as informações

In [3]:
df = pd.read_csv('/kaggle/input/human-resources-data-set/HRDataset_v14.csv')
colunas_nomes = df.columns.tolist()
print("Nomes colunas:")
print(colunas_nomes)
print("\nAmostra do dataset:")
df.head()

Nomes colunas:
['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID', 'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID', 'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB', 'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc', 'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus', 'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource', 'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction', 'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30', 'Absences']

Amostra do dataset:

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

### O tipo das colunas pode ser visualizado abaixo

In [4]:
df.dtypes

Employee_Name                  object
EmpID                           int64
MarriedID                       int64
MaritalStatusID                 int64
GenderID                        int64
EmpStatusID                     int64
DeptID                          int64
PerfScoreID                     int64
FromDiversityJobFairID          int64
Salary                          int64
Termd                           int64
PositionID                      int64
Position                       object
State                          object
Zip                             int64
DOB                            object
Sex                            object
MaritalDesc                    object
CitizenDesc                    object
HispanicLatino                 object
RaceDesc                       object
DateofHire                     object
DateofTermination              object
TermReason                     object
EmploymentStatus               object
Department                     object
ManagerName                    object
ManagerID                     float64
RecruitmentSource              object
PerformanceScore               object
EngagementSurvey              float64
EmpSatisfaction                 int64
SpecialProjectsCount            int64
LastPerformanceReview_Date     object
DaysLateLast30                  int64
Absences                        int64
dtype: object

### Verificando dados faltantes (missing)

Os dados faltantes (missing) da coluna "DateofTermination" acontece pelo simples fato do funcionário continuar empregado na empresa.<br>
Esse dataset está bem limpo.

In [5]:
df.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

# Seleção de Variáveis

Após analisar todas as variáveis, decidi manter as que fazem mais sentido para o negócio e predição.<br>
Variáveis categóricas como "anotações, nomes de pessoas" e variáveis numéricas como "IDs" não são relevantes nesse momento. <br>
Variáveis como sexo, preferência sexual, raça, cor, cidadania não serão levados em consideração.

In [6]:
df['Position'].unique()

array(['Production Technician I', 'Sr. DBA', 'Production Technician II',
       'Software Engineer', 'IT Support', 'Data Analyst',
       'Database Administrator', 'Enterprise Architect', 'Sr. Accountant',
       'Production Manager', 'Accountant I', 'Area Sales Manager',
       'Software Engineering Manager', 'BI Director',
       'Director of Operations', 'Sr. Network Engineer', 'Sales Manager',
       'BI Developer', 'IT Manager - Support', 'Network Engineer',
       'IT Director', 'Director of Sales', 'Administrative Assistant',
       'President & CEO', 'Senior BI Developer',
       'Shared Services Manager', 'IT Manager - Infra',
       'Principal Data Architect', 'Data Architect', 'IT Manager - DB',
       'Data Analyst ', 'CIO'], dtype=object)

In [7]:
df['PerformanceScore'].unique()

array(['Exceeds', 'Fully Meets', 'Needs Improvement', 'PIP'], dtype=object)

In [8]:
df['Department'].unique()

array(['Production       ', 'IT/IS', 'Software Engineering',
       'Admin Offices', 'Sales', 'Executive Office'], dtype=object)

In [9]:
df['ManagerID'].unique()

array([22.,  4., 20., 16., 39., 11., 10., 19., 12.,  7., 14., 18., nan,
        3.,  2.,  1., 17.,  5., 21.,  6., 15., 13.,  9., 30.])

Criando um dataset final/limpo.

In [10]:
df_limpa = df.drop(['Employee_Name',
                    'Sex',
                    'GenderID',
                    'MarriedID',
                    'MaritalStatusID',
                    'MaritalDesc',
                    'EmpID',
                    'Position',
                    'State',
                    'DOB',
                    'Zip',
                    'CitizenDesc',
                    'HispanicLatino',
                    'RaceDesc',
                    'DateofHire',
                    'DateofTermination',
                    'TermReason',
                    'EmploymentStatus',
                    'ManagerName',
                    'RecruitmentSource',
                    'EngagementSurvey',
                    'LastPerformanceReview_Date',
                    'DaysLateLast30'], axis=1).copy()
df_limpa.head()

,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Department,ManagerID,PerformanceScore,EmpSatisfaction,SpecialProjectsCount,Absences
0,1,5,4,0,62506,0,19,Production,22.0,Exceeds,5,0,1
1,5,3,3,0,104437,1,27,IT/IS,4.0,Fully Meets,3,6,17
2,5,5,3,0,64955,1,20,Production,20.0,Fully Meets,3,0,3
3,1,5,3,0,64991,0,19,Production,16.0,Fully Meets,5,0,15
4,5,5,3,0,50825,1,19,Production,39.0,Fully Meets,4,0,2

# Categorizando a variável Salary

Essa variável possui muitos valores distintos, desta forma decidi distribuir em 3 grupos (baixo, médio e alto) para depois criar as variáveis dummies.

In [11]:
print(df_limpa['Salary'].min())
print(df_limpa['Salary'].max())
print(df_limpa['Salary'].sort_values(ascending=True).tolist())

45046
250000
[45046, 45069, 45115, 45395, 45433, 45998, 46120, 46335, 46428, 46430, 46654, 46664, 46738, 46799, 46837, 46998, 47001, 47211, 47414, 47434, 47750, 47837, 47961, 48285, 48413, 48495, 48513, 48888, 49256, 49773, 49920, 50178, 50274, 50373, 50428, 50470, 50482, 50750, 50825, 50923, 51044, 51259, 51337, 51505, 51777, 51908, 51920, 52057, 52087, 52177, 52249, 52505, 52599, 52624, 52674, 52788, 52846, 52984, 53018, 53060, 53171, 53180, 53189, 53250, 53366, 53492, 53564, 54005, 54132, 54237, 54285, 54670, 54828, 54933, 55000, 55140, 55315, 55425, 55578, 55688, 55722, 55800, 55875, 55965, 56147, 56149, 56294, 56339, 56847, 56991, 57568, 57575, 57583, 57748, 57815, 57815, 57834, 57859, 57954, 57975, 58062, 58207, 58273, 58275, 58370, 58371, 58523, 58530, 58709, 58939, 59026, 59124, 59144, 59231, 59238, 59365, 59369, 59370, 59472, 59728, 59892, 60070, 60120, 60270, 60340, 60380, 60436, 60446, 60627, 60656, 60724, 60754, 61154, 61242, 61242, 61349, 61355, 61422, 61555, 61568, 61584, 61656, 61729, 61809, 61844, 61962, 62061, 62065, 62068, 62162, 62385, 62425, 62506, 62514, 62659, 62810, 62910, 62957, 63000, 63003, 63025, 63025, 63051, 63108, 63291, 63322, 63353, 63381, 63430, 63450, 63478, 63515, 63676, 63682, 63695, 63763, 63813, 63878, 63973, 64021, 64057, 64066, 64246, 64375, 64397, 64520, 64724, 64738, 64786, 64816, 64919, 64955, 64971, 64991, 64995, 65288, 65310, 65707, 65714, 65729, 65893, 65902, 66074, 66149, 66441, 66541, 66593, 66738, 66808, 66825, 67176, 67237, 67251, 68051, 68099, 68182, 68407, 68678, 68829, 68898, 68999, 69340, 70131, 70187, 70468, 70507, 70545, 70621, 71339, 71707, 71776, 71860, 71966, 72106, 72202, 72460, 72609, 72640, 72992, 73330, 74226, 74241, 74312, 74326, 74417, 74669, 74679, 74813, 75188, 75281, 76029, 77692, 77915, 80512, 81584, 82758, 83082, 83363, 83552, 83667, 84903, 85028, 86214, 87565, 87826, 87921, 88527, 88976, 89292, 89883, 90100, 92328, 92329, 92989, 93046, 93093, 93206, 93396, 93554, 95660, 95920, 96820, 97999, 99020, 99280, 99351, 100031, 100416, 101199, 103613, 104437, 105688, 105700, 106367, 107226, 108987, 110000, 110929, 113999, 114800, 120000, 138888, 140920, 148999, 150290, 157000, 170500, 178000, 180000, 220450, 250000]

In [12]:
df_limpa['SalaryGroup'] = pd.cut(df_limpa['Salary'], bins=[45000, 70000, 110000, sys.maxsize], labels=['baixo', 'medio', 'alto'])

# Criando as dummies para variáveis categóricas

Após a limpeza do dataset, ficamos com duas variáveis categóricas, para serem utilizadas é necessário transformar em dummies.

In [13]:
variaveis_categoricas = ['SalaryGroup', 'Department', 'PerformanceScore']
for variavel_categoria in variaveis_categoricas:
    categoria_lista = 'variavel_categoria'+'_'+variavel_categoria
    categoria_lista = pd.get_dummies(df_limpa[variavel_categoria], prefix=variavel_categoria)
    df_limpa = df_limpa.join(categoria_lista)
    dfdf_limpa = df_limpa
df_limpa.columns.values

array(['EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Department', 'ManagerID',
       'PerformanceScore', 'EmpSatisfaction', 'SpecialProjectsCount',
       'Absences', 'SalaryGroup', 'SalaryGroup_baixo',
       'SalaryGroup_medio', 'SalaryGroup_alto',
       'Department_Admin Offices', 'Department_Executive Office',
       'Department_IT/IS', 'Department_Production       ',
       'Department_Sales', 'Department_Software Engineering',
       'PerformanceScore_Exceeds', 'PerformanceScore_Fully Meets',
       'PerformanceScore_Needs Improvement', 'PerformanceScore_PIP'],
      dtype=object)

Após a criação das variáveis dummies, as variáveis originais devem ser eliminadas do dataset.

In [14]:
df_limpa = df_limpa.drop(['Salary', 'SalaryGroup', 'Department', 'PerformanceScore'], axis=1).copy()
df_limpa.head()

,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Termd,PositionID,ManagerID,EmpSatisfaction,SpecialProjectsCount,Absences,SalaryGroup_baixo,SalaryGroup_medio,SalaryGroup_alto,Department_Admin Offices,Department_Executive Office,Department_IT/IS,Department_Production,Department_Sales,Department_Software Engineering,PerformanceScore_Exceeds,PerformanceScore_Fully Meets,PerformanceScore_Needs Improvement,PerformanceScore_PIP
0,1,5,4,0,0,19,22.0,5,0,1,1,0,0,0,0,0,1,0,0,1,0,0,0
1,5,3,3,0,1,27,4.0,3,6,17,0,1,0,0,0,1,0,0,0,0,1,0,0
2,5,5,3,0,1,20,20.0,3,0,3,1,0,0,0,0,0,1,0,0,0,1,0,0
3,1,5,3,0,0,19,16.0,5,0,15,1,0,0,0,0,0,1,0,0,0,1,0,0
4,5,5,3,0,1,19,39.0,4,0,2,1,0,0,0,0,0,1,0,0,0,1,0,0

# Variável target e separação em X e y

A variável "Termd" será a variável target, as demais variáveis serão as respostas (irão predizer).

In [15]:
df_limpa_vars = df_limpa.columns.values.tolist()
y = ['Termd']
X = [i for i in df_limpa_vars if i not in y]